*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.tmp
bin/
gen/
out/
.navigation/
*.hprof

# Signing
*.keystore
*.jks

# App-specific
/app/build
/app/release
